@model IEnumerable<MVCEntityApp.Models.employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.employee_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.joining_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mobile_no)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.employee_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.department)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.joining_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mobile_no)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.employee_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.employee_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.employee_id })
        </td>
    </tr>
}

</table>
